extends layout
append body
    link(rel='stylesheet' href='/stylesheets/style.css')

    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Velg Event
    #indent
        table(border="1")
            thead
            tbody
            for day in listOfShift
                tr
                    td= day.date
                    td= day.name
                    td
                        form(id="test" action="/addShift", method="post")
                            button(type="submit" value=day.id style = "width:100%" name="choseEvent" id="choseEvent") Velg event