extends layout
append styles
    link(rel="stylesheet", href='/stylesheets/style.css')
append body
    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Hjelp
    #indent
        h4 Denne nettsiden er en (veldig) work in progress, og kan inneholde en del feil og mangler.
        h4 Nettsiden kommer til å bli oppdatert gradvis, men ettersom at utviklerne er studenter, vil
        h4 den bli oppdatert litt sporadisk.
        br
        h4 Dersom du har kommentarer/idéer til forbedringer, ta gjerne kontakt med utviklerne:
        .developers
            h5 Jostein Kringlen
            h5 josteinkringlen@gmail.com
        .developers
            h5 André Dyrstad
            h5 dyrstad.a@gmail.com