extends layout
append body
    link(rel='stylesheet' href='/stylesheets/style.css')

    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Liste av frivillige
    #indent
        table(border="1")
            thead
            tbody
            for object in listOfInterns
                tr
                    for subobject in object
                        td= subobject